# ──────────────────────────────────────────
# ByronSpace — variables de entorno
# Copia este fichero a .env y rellena los valores
# NUNCA subas .env al repositorio
# ──────────────────────────────────────────

# Base de datos PostgreSQL
POSTGRES_DB=reservas_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# JWT (pon una clave larga y aleatoria)
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Colas RabbitMQ
REQUEST_QUEUE=reservas.requests
RESPONSE_QUEUE=reservas.responses
